.game{
    overflow: hidden;
     canvas{
        max-width: 100%;
        max-height: 100%;
        padding: 0;
        margin: 0;
     }
    #canvas {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    #canvas2{
        position: absolute;
        top:0;
        left: 0;
        margin: auto;
        z-index: 3000;
        display: none;
        &.visible{
            display: block;
        }
    }


    .top_menu{
        width: 100%;
        top: 0;
        color: white;
        background-color: #33337a;
        z-index: 2222;
        overflow: visible;
        padding: 10px;
        position: absolute;
        left: 15px;

        .progress{
            height: 30px;
        }
        .progress.max{
            .progress-bar{
                background-color: #E62929;
            }
        }
        .btn {
            font-weight: bold;
            font-size: 15px;
            border: 1px solid rgba(252, 252, 252, 0.58);
        }
    }

    .nowplaying{
        min-width: 20px;
        min-height: 20px;
        line-height: 20px;
        text-align: center;
    }
    .topControl{
        border: 1px solid rgba(174, 174, 190, 0.58);
        background: #33337a;
        width: auto;
        float: left;
        cursor: pointer;
        margin-right: 10px;
        font-size: 1em;
        color: #aeaebe;
        padding: 10px;
        margin-top: 5px;
        text-align: center;
    }
    .glyphicon, .fa{
        min-width: 20px;
        min-height: 20px;
        line-height: 20px;
        text-align: center;
    }
    #megashoot, #shoot{
        background: url("../images/hud/images.jpg");
        position: absolute;
        bottom: 20px;
        box-shadow:2px 2px 8px rgba(22, 22, 22, 0.58);
        z-index: 2000;
        border-radius: 100%;
        color:white;
        font-size: 19px;
        &[disabled]{
            background: rgba(131, 131, 138, 0.56)
        }
    }
    #megashoot{
        right: 80px;
    }
    #shoot{
        right: 20px;
    }

    #message{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3000;
        background-color: rgba(0, 0, 0, 0.76);
        width: 100%;
        border: 1px solid rgb(0, 51, 255);
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgb(111, 201, 28);
        padding-top: 20px;
        .picture{
            width: 85px;
            float: left;
            height: 50px;
            background-repeat:no-repeat;
            background-size: 50px 50px;
            &.cooldog{
                background-image:url('../images/messages/cooldog.png');
            }
            &.cooldogdamaged{
                background-image:url('../images/messages/cooldogdamaged.png');
            }
            &.boss_1{
                background-image:url('../images/messages/boss_1.png');
            }
            &.dog{
                background-image:url('../images/messages/dog.png');
            }
            &.unknown{
                background-image:url('../images/messages/unknown.png');
            }
            margin-left: 20px;

        }
        
        .messageBody{
            
        }
    }
}

@media (max-width: 500px) {
    .game{
        .top_menu{
            .btn{
                font-size: 10px;
            }
        }
    }

    .game{
        #resume, #pause{
            font-size: 10px;
            .points, .fa, .glyphicon{
                display: none;
            }
        }
        #message{
            min-height: 25px;
            height: auto;
            .picture{
                width: 50px;
                img{
                    margin-left: 5px;
                    height: 30px;
                    width: 30px;
                }
            }
            
            .messageBody{
                padding-left: 5px;
                font-size: 10px;
                padding-top: 5px;
                width: 100%;
                min-height: 25px;
            }
        }
    }
    

}