@import "variables";


#intro_imagetitle{
    background: url('../images/hud/home_title.png');
    background-size:cover;
}

.home_header{
    /*REMOVE*/
        /* color: #c7cfd5; */
    text-align: center;
    /* text-shadow: 2px 2px 1px #1F1911; */
    font-weight: bold;
    font-weight: 3000000;
    /* font-size: 28px; */
    background: #6893b5;
    /* box-shadow: 5px -62px 155px -19px rgba(255, 255, 255, 0.4); */
    border-radius: 30px;
    border: 9px solid rgb(226, 112, 21);
}


.planet{
    img{
        -webkit-animation-name: rotate;
        -webkit-animation-duration: 25s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        max-width:125px;
    }
    margin-bottom: 40px;
}

.home{
    .fa{
        font-size: 25px;
    }
    #logo{
        img{
            max-height:200px;
            height: 200px;
        }
        margin-bottom: 40px;
        margin-top: 100px;
    }

    .score{
        float: right;
        .badge{
            background: rgb(24, 135, 197);
        }
    }

    .controls{
        margin-top: 10px;
        ul.menu{
            min-height: 200px;
            //font-family: 'Julius Sans One', 'sans-serif';
            color:black;
           
            padding: 0;
            list-style: none;
            li {
                padding: 10px;
                font-size: 18px;
                text-align: center;
                width: 100%;
                text-transform: uppercase;
                margin-top: 10px;
            }
           
            li a{
                text-decoration: none;
                color: white;
                position: relative;
                font-weight: bold;
                transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                 -webkit-transition: width 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                -moz-transition: width 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                .sound{
                    color:rgb(246, 139, 78);
                }
                background: rgba(40, 137, 150, 1);
                padding: 10px;
            }
            li a:after{
                position: absolute;
                top: 0%;
                right: 0px;
                left: auto;
                display: block;
                content: "";
                width: 0%;
                height: 100%;
                background: rgba(255, 255, 255, 0.59);
                -webkit-transition: width 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                transition: width 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            }
            li:hover {
                a:after{
                    width: 100%;
                }
            }
        }
    }
}