$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "sass-bootstrap/lib/bootstrap";

/* Put your CSS here */
html, body {
  margin: 20px;
}

*, *::before, *::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

body {
    background: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.inicio {
        margin: 50px auto 0 auto;
        width: 500px;
    .score{
        margin-top:10px;
    }
}
.juego{
    overflow: hidden;
}



img {
    max-width:  100%;
}


canvas {
    margin: auto;
    position: absolute;
    top: 43px;
    bottom: 0;
    left: 0;
    right: 0;
}

.wrapper {
    width: 512px;
    margin: 0 auto;
    margin-top: 2em;
}

#instructions {
    float: left;
    font-family: sans-serif;
    color: #757575;
}

.top_menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2999;
    color: black;
    font-size: 1.5em;
    background: white;
    padding: 5px;
    margin-left: 0px;
    .progress{
        margin-left: 30px;
        margin-top: 5px;
        margin-bottom: 0px;
    }
}


#pause, #resume{
    float: left;
}
#megashoot, #shoot{
    position: absolute;
    bottom: 20px;
    z-index: 2000;
    border-radius: 100%;
    background: red;
    color:white;
    font-size: 19px;
    &[disabled]{
        background: rgba(131, 131, 138, 0.56)
    }
}
#megashoot{
    right: 80px;
}
#shoot{
    right: 20px;
}

#level{
    position: absolute;
    top: 44%;
    left: 39%;
    z-index: 2000;
    padding: 30px;
    font-size: 19px;
}

.key {
    color: #aaffdd;
}

.home{
    background: url('../images/bg/starts.jpeg');
    background-size:cover;
    border: 2px solid rgba(128, 50, 50, 0.86);
    color: white;
    font-family: 'Comfortaa', 'cursive';
    
    #logo{
        img{
            max-height:200px;
        }
        margin-bottom: 10px;
    }

    .intro-text{
        font-size: 15px;
        h1{
            font-family: 'Comfortaa', 'cursive';
            font-size: 30px;
        }
        background: rgba(128, 50, 50, 0.86);

        .score{
            float: right;
            .badge{
                background: rgb(24, 135, 197);
            }
        }
    }

    .controls{
        margin-top: 10px;
        ul.menu{
            min-height: 200px;
            font-family: 'Julius Sans One', 'sans-serif';
            color:black;
            background: rgba(36, 161, 172, 0.74);
            padding: 0;
            list-style: none;
            li {
                padding:10px;
                font-size: 18px;
                text-align: center;
                width: 100%;
                text-transform: uppercase;
                position: relative;
            }
            li a{
                text-decoration: none;
                color: white;
                font-weight: bold;
                transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            }
            li a:after{
                position: absolute;
                top: 50%;
                right: 0px;
                left: auto;
                -webkit-transform: translate(0, -50%);
                -moz-transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                -o-transform: translate(0, -50%);
                transform: translate(0, -50%);
                display: block;
                content: "";
                width: 0%;
                height: 4px;
                background: #ee1848;
                -webkit-transition: width 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                -moz-transition: width 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                transition: width 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            }
            li:hover {
                a{
                     zoom: 150%
                }
                a:after{
                    width: 100%;
                }
            }
        }
    }

}

.gameover{
    h1{
        font-size: 30px;
        text-align: center;
    }
}

#message{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 50%;
    background: white;
    z-index: 2;
    img{
        height: 50px;
        width: 50px;
        float: left;
        margin-left: 20px;
    }
    .messageBody{
        float: left;
        padding-left: 30px;
        font-size: 15px;
        padding-top: 15px;
    }
}

@media (max-width: 600px) {
    #message{
        height: 50px;
        width: 56%;
        img{
            margin-left: 5px;
        }
        .messageBody{
            padding-left: 5px;
            font-size: 10px;
            padding-top: 5px;
            width: 56%;
        }
    }


}

@media (max-width: 500px) {
    .home{
        .intro-text{
            h1{
                font-size: 20px;
            }
        }
       
    }
}
@import "mobile";