$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "sass-bootstrap/lib/bootstrap";
@import "variables";
@import "animation";



/* Put your CSS here */
html, body {
  margin: 0;
  height: 100%;
}


*, *::before, *::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
pre{
    background: transparent;
    color: white;
    border: none;
}
body {
    background-color: black;
    background: url('../images/hud/home_bg_pixelated.png') rgb(24, 19, 49);
}

.container{
    height: 100%;
}
a {
    color: white;
}
.icon-points{
    color: #E9F64E;
}
.fa-html5{
    color: rgb(255, 163, 0);
}
.icon-badges{
    color: #CC0F17;
}
.icon-play{
    color: #1CEB00;
}
 
img {
    max-width:  100%;
}

.key {
    color: #aaffdd;
}

.page{
    color: white;
  font-family: 'Press Start 2P', cursive;
}

h1,h2,h3,h4,h5{
   font-family: 'Press Start 2P', cursive;
}

.intro-text{
    font-size: 15px;
    h1{
        font-size: 30px;
    }
    background: $introTexts;
    padding-top: 40px;
    padding-bottom: 20px;
}

.top_tab_trigger{
    color: white;
    font-size: 20px;
    padding: 20px 20px 10px 20px;
    cursor: pointer;
    background: rgba(63, 145, 52, 1);
    position: absolute;
    top: -15px;
    z-index: 2000;

    &.closeMenu{
        top: 10px;
    }
    .glyphicon, .fa{
        margin-right:10px;
    }
}

.badges{
    .badge-container{

    }
    .badge{
        border-radius: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
        width: 90px;
        height:90px;
        position: relative;
        border: 3px solid rgb(182, 165, 165);
        background: rgba(104, 51, 51, 0.74);
        box-shadow: 2px 3px 11px black;
    }
    .badge.completed{
        border: 10px solid rgba(150, 40, 84, 1);
        background-color: rgba(182, 0, 0, 0.5);
        box-shadow: 0px 0px 80px 1px rgb(202, 88, 116);
    }

    .cover{
        display: block;
        background: rgba(139, 132, 132, 0.86);
        width: 85px;
        height: 85px;
        border-radius: 100%;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
    }
    .completed .cover{
        display: none;
    }

    .description{
        font-family: 'Poiret One', cursive;
        background: $blueMenus;
        font-size: 18px;
        padding: 15px;
        box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.55);
        height: 100px;
        border-radius: 10px;
    }

    .social{
        background-image: url('../images/badges/social.png');
    }
    .complete{
        background-image: url('../images/badges/complete.png');
    }
    .badass{
        background-image: url('../images/badges/badass.png');
    }
    .level1{
        background-image: url('../images/badges/level1.png');
    }
    .level2{
        background-image: url('../images/badges/level2.png');
    }
    .level3{
        background-image: url('../images/badges/level3.png');
    }
    .level4{
        background-image: url('../images/badges/level4.png');
    }
    .level5{
        background-image: url('../images/badges/level5.png');
    }
    .level6{
        background-image: url('../images/badges/level6.png');
    }
    .died{
        background-image: url('../images/badges/died.png');
    }
    .level1_stage1{
        background-image: url('../images/badges/level1_stage1.png');   
    }
    .level1_stage2{
        background-image: url('../images/badges/level1_stage2.png');   
    }
    .dogs25 {
        background-image: url('../images/badges/25dogs.png');
    }

    .dogs50{
        background-image: url('../images/badges/50dogs.png');
    }
    .dogs100{
        background-image: url('../images/badges/100dogs.png');
    }
    .dogs500{
        background-image: url('../images/badges/500dogs.png');
    }

    .chaos{
        background-image: url('../images/badges/chaos.png');
    }
    .badge{
        background-size: cover;
    }


}

.gameover{
    .intro-text{
        padding-bottom: 20px;
    }
}

.container-full {
  margin: 0 auto;
  width: 100%;
}



@media (max-width: 500px) {
    
    .intro-text{
        h1{
            font-size: 20px;
        }
    }

    .badges{
        .description{
            font-size: 15px;
        }
        .badge{
            width: 70px;
            height:70px;
        }
        
        .cover{
            width: 65px;
            height: 65px;
        }
    }
}


.page{
    .list-group-item{
        margin-bottom: 10px;
        background: transparent;
        text-align: center;
        font-size: 20px;
         cursor: pointer;
        background: $blueMenus;
        border:none;
    }
}


.sharer {
    margin-top: 20px;
    .social-icon{
        height: 40px;
        width: 75px;
    }
}

@media (max-width: 400px) {
    
    .intro-text{
        h1{
            font-size: 15px;
        }
    }

    .badges{
        .description{
            font-size: 10px;
            height: 60px;
        }
        .badge{
            width: 50px;
            height:50px;
        }
        
        .cover{
            width: 45px;
            height: 45px;
        }
    }
}
/*Tablet*/
@media (min-width: 600px) and (max-width: 800px){

    .home{
        .intro-text{
            padding: 30px;
        }
        #logo{
            margin-bottom: 20px;
        }

        .controls{
           margin-top: 25px;
        }   
    }
}
@media (min-width: 800px) {

    .home{
        .intro-text{
            padding: 60px;
        }
        #logo{
            margin-bottom: 20px;
        }

        .controls{
           margin-top: 50px;
        }   
    }
}
@import "home";
@import "scores";
@import "levels";
@import "stats";
@import "mobile";
@import "game";
@import "about";
@import "font_awesome/font-awesome";