@import "variables";

.scores{
    h1{
      font-size: 25px;
      border-top: 14px solid white;
      border-bottom: 6px solid white;
    }
    h2{
      font-size: 20px;
    }
    .list-group{
        margin-top: 30px;
    }
    .list-group-item{
        background-color: $blueMenus;
        font-weight: bold;
        width: 48%;
        float: left;
        margin-right: 5px;
    }
    .fa-beer{
      color:orange;
    }
    .fa-thumbs-down{
      color: red;
    }
    .fa-space-shuttle{
      color: rgb(127, 127, 134);
    }
    .fa-gavel{
      color: brown;
    }
}
