<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rafinskipg.nyanspace" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>The Cool Dog Adventures</name>
    <description>
        The Cool Dog Adventures, chapter 1
    </description>
    <author email="ventura@venturastudios.org" href="http://venturastudios.org">
        VenturaStudios
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
