<div class="container-full game page">
  <div class="">
      <div ng-controller="TopMenuCtrl">
        <i class="top_tab_trigger" ng-click="showMenu()">**</i>
        
        <div id="top_menu" class="top_menu row" ng-show="menuVisible == true">
          
          <div class="col-xs-9">
            <div id="pause" class="topControl" ng-click="pause()" ng-show="paused == false"> <i class="fa fa-spoon"></i> Pause</div>
            <div id="resume" ng-click="resume()" class="topControl" ng-show="paused"><i class="fa fa-space-shuttle"></i>Resume </div>
          
            <div id="score" class="topControl"><span class="glyphicon glyphicon-star"></span>{{puntos}} <span class="points">points</span></div>

            <div class="topControl" ng-click="toggleSound()">
              <span ng-show="getSound() == true" class="glyphicon glyphicon-volume-off"></span>
              <span ng-show="getSound() == false" class="glyphicon glyphicon-volume-up"></span>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="topControl" ng-click="exit()">EXIT</div>
          </div>

          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-12">
                <i class="top_tab_trigger closeMenu" ng-click="hideMenu()">X</i> 
              </div>
            </div>
          </div>

        </div>
      </div>
     
      <canvas id="canvas" moz-opaque=""></canvas>
      <canvas id="canvas2"></canvas>
   </div>
</div>