<div class="container page about">
  <div class="row intro-text">
  
    <span class="top_tab_trigger" ng-click="goHome()">
      <span class="glyphicon glyphicon-th-list"></span>Menu
    </span> 

    <div class="col-xs-12">
      <div class="tutorial">
        <span>Alpha version - Squeezy marmalade</span>
        <span>Works on Chrome - For now </span>
        <h3>Tutorial:</h3>
        <div> Use: W A S D for moving / space for shooting. In mobile, use your finger, wow. Such help.</div>
      </div>
     
      <h3>About:</h3>
      <div class="text-center">
        <img class="team" src="images/hud/team.png">
      </div>

      <div class="roles">
        <div class="role">
          Crafted with <i class="fa fa-html5"></i> and original idea by rafinskipg
        </div>
        <div class="role">
          Music by Rob Tyler
        </div>
        <div class="role">
          Arts by Marek Jeroqui
        </div>
        <div class="role">
          Game design by Jorge Thomson
        </div>
      </div>
      
      <div>
        <i class="fa fa-github-alt"></i> VenturaStudios
      </div>
      <div>
        <i class="fa fa-money"></i> helping other people
      </div>
      <div>
        <i class="fa fa-facebook"></i> <a href="https://www.facebook.com/thecooldogadventures">Our facebook page for updates</a>
      </div>
    </div>

  </div>
</div>