<div class="container page gameover">
  <div class="row intro-text">
    <span class="top_tab_trigger" ng-click="goHome()">
      <span class="glyphicon glyphicon-th-list"></span>Menu
    </span>
    <div class="col-xs-12 text-center">
      <h1 ng-show="!gameState.win">GAME OVER</h1>
      <h1 ng-show="gameState.win">MISSION COMPLETE!</h1>
      
      <div class="stats" ng-class="{'win': gameState.win}">
        <h3>Points</h3>
        <div class="score">Your score is {{gameState.points}}<span class="glyphicon glyphicon-star"></span></div>
        <div class="kills">
          <h3>Kills</h3>
          <ul>
            <li class="killInfo" ng-repeat="level in gameState.levelsInfo.stages">LEVEL {{$index+1}} - {{level.killed}} enemies of {{ level.total }}</li>
            <li ng-show="gameState.win">BOSS</li>
          </ul>
        </div>
        <div class="bonuses">
          <h3>Bonuses picked</h3>
          {{gameState.levelsInfo.bonuses.picked}} out of {{gameState.levelsInfo.bonuses.total}} 
        </div>

        <div class="badges">
          <h3>Badges</h3>
          <span ng-show="gameState.newBadges.length  == 0">No badges earned... :(</span>
          <div class="badge {{badge}} completed" ng-repeat="badge in gameState.newBadges" >
            <span class="cover"></span>
          </div>
        </div>

        <div class="total-stats">
            <h3>Your total stats:</h3>
            <div>{{totals.bonuses}} bonuses picked</div>
            <div>{{totals.kills}} enemies killed</div>
        </div>
      </div>
      
      <div class="quote">
          <p>And rembember...</p>

          <div>{{quote}}</div>
      </div>
      <div class="sharer">
          <a ng-click="share($event)" title="send to Facebook"  href="" target="_blank">
            <span>
              <img class="social-icon" src="images/social/nyan_fb_icon.png" alt="Facebook"> Share it! 
            </span>
          </a>
      </div>
    </div>
  </div>
</div>