<div class="container gameover">
  <div class="row">
    <div class="col-xs-12">
      <h1>Game over</h1>
      <h2>Congratulations, player</h2>
      <div class="score">Your score is {{puntos}}</div>
      <div class="sharer">
        <a ng-show="!isMobile" title="send to Facebook" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')"
          href="http://www.facebook.com/sharer.php?s=100&title=Nyan Cat adventures&summary=I've completed {{puntos}} points on NyanSpace!&p[url]=http://nyanspace.herokuapp.com"
          data-desc="This is a description of the page" data-img="http://rvpg.me/experiments/BombTouch/images/cat.gif"
          target="_blank">
          <span>
            <img width="14" height="14" src="images/facebook.png" alt="Facebook" /> Share it! 
          </span>
        </a>

    </div>
  </div>
</div>