<div class="container page home">
  <header>
      <div class="row">
          <div class="col-xs-12 text-center " id="logo">
            <img src="images/cat.gif"/>
          </div>
          <div class="col-xs-12 intro-text">
            <h1>The adventures of nyan cat</h1>
            <p>Now presenting: <b>A cat in the space</b></p>
            <p class="score">Your best score is <span class="badge">{{bestScore}}</span></p>
         </div>
      </div>
  </header>
  <div class="controls row">
    <div class="col-xs-12">
      <ul class="menu">
        <li ng-click="play()">
          <a href="">Play</a>
        </li>
        <li ng-click="setSound()">
          <a href="">Sound: <span><b>{{getSound()}}</b></a>
        </li>
        <li ng-click="highScores()">
          <a href="">High Scores</a></li>
        </li>
        <li ng-click="badges()">
          <a href="">Badges :D</a>
        </li>
      </ul>
    </div>
    

    
  </div>

</div>