<div class="container page difficulty">
  <div class="row">
    <div class="col-xs-12 intro-text">
      <span class="top_tab_trigger" ng-click="goHome()">
        <span class="glyphicon glyphicon-th-list"></span>Menu
      </span>
      <div>
        <h1>Choose a level</h1>
      </div>
      <div class="levels">
        <div class="level" ng-repeat="level in levels" ng-click="setLevel(d)">
          <div class="content">
            <div class="cover" ng-clas="{'unlocked': level.playable == true}"></div>
            <div class="image">
            </div>
            <div class="title">
              {{level.name}}
            </div>
            <div class="points">200 points</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>