<div class="container">
  <header>
      <div class="row">
          <div class="col-xs-5 col-md-2" id="Logo"><img src="images/cat.gif"/></div>
          <div class="col-xs-5 col-md-10" id="Logo">
            <h1>The adventures of nyan cat</h1>
            <p>Now presenting: <b>A cat in the space</b></p>
          </div>
      </div>
  </header>
  <div class="inicio" ng-show="home">
      
      <div class="row" >
        <div class="col-xs-4 col-md-4">
              <button class="btn btn-success" ng-click="start()">Start</button>
         </div>
         <div class="col-xs-4 col-md-4">
               <button class="btn btn-info"  ng-click="setSonido()">Sound: <span><b>{{getSonido()}}</b></span></button>
         </div>
      </div>
      <div class="row score">
         <div class="col-xs-12 col-md-12">
          <p class="">Your best score is <span class="badge">{{bestScore}}</span></p>
         </div>
      </div>
      
  </div>
   <div class="juego" ng-show="juego">
      <div class="top_menu row">
        <div class="col-xs-2">
          <div id="pause" class="btn btn-info" ng-click="pause()" ng-show="paused == false"> Pause </div>
          <div id="resume" ng-click="resume()"  class="btn btn-info"  ng-show="paused"> Resume </div>
        </div>
        <div class="col-xs-2">
          <div id="score"  class="btn btn-warning" ><span class="glyphicon glyphicon-star"></span>{{puntos}} points</div>
        </div>
        <div class="col-xs-6">
          <div class="progress progress-striped active">
            <div class="progress-bar"  role="progressbar" aria-valuenow="{{power}}" aria-valuemin="0" aria-valuemax="100" style="width: {{power}}%">
              <span class="">{{power}}% of CAT POWER</span>
            </div>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="btn btn-info" ng-click="setSoundInGame()">
            <span ng-show="getSonido() == 'OFF'" class="glyphicon glyphicon-volume-off"></span>
            <span ng-show="getSonido() == 'ON'" class="glyphicon glyphicon-volume-up"></span>
          </div>
        </div>
      </div>

      <div id="game-over-overlay" ng-show="gameOver">
      </div>

      <div id="game-over" ng-show="gameOver" class="row">
        <div class="col-xs-offset-4 col-xs-4 game-retry">
          <h1>Yay! Game ended</h1>
          <div>Your score is {{puntos}}</div>
          <div class="sharer">
            <a title="send to Facebook" 
              href="http://www.facebook.com/sharer.php?s=100&p[title]=YOUR_TITLE&p[summary]=YOUR_SUMMARY&p[url]=YOUR_URL&p[images][0]=YOUR_IMAGE_TO_SHARE_OBJECT"
              target="_blank">
              <span>
                <img width="14" height="14" src="'icons/fb.gif" alt="Facebook" /> Facebook 
              </span>
            </a>
            <a class="facebook" target="_blank" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" href="http://www.facebook.com/sharer/sharer.php?u=http://nyanspace.herokuapp.com">Share it!</a>
          </div>
          <button id="play-again" class="btn btn-success" ng-click="start()">Play Again</button>
        </div>
      </div>

      <div id="level" ng-show="showLevel">
        <div class="thumbnail">
          <span class="glyphicon glyphicon-info-sign"></span>
          Prepare your anus for level {{level}}!
        </div>
      </div>
      <button id="megashoot" class="btn btn-success" ng-disabled="!megaShootActive" ng-click="megaShoot()"><span class="glyphicon glyphicon-random"></span></button>
      <button id="shoot" class="btn btn-success" ng-click="shoot()"><span class="glyphicon glyphicon-fire"></span></button>
      <canvas id="canvas"></canvas>
   </div>
</div>