<div class="container">
  <div class="juego" >
      <div id="top_menu" class="top_menu row">
        <div class="col-xs-2">
          <div id="pause" class="btn btn-info" ng-click="pause()" ng-show="paused == false"> Pause </div>
          <div id="resume" ng-click="resume()"  class="btn btn-info"  ng-show="paused"> Resume </div>
        </div>
        <div class="col-xs-2">
          <div id="score"  class="btn btn-warning" ><span class="glyphicon glyphicon-star"></span>{{puntos}} points</div>
        </div>
        <div class="col-xs-6">
          <div class="progress progress-striped active">
            <div class="progress-bar"  role="progressbar" aria-valuenow="{{power}}" aria-valuemin="0" aria-valuemax="100" style="width: {{power}}%">
              <span class="">{{power}}% of CAT POWER</span>
            </div>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="btn btn-info" ng-click="setSoundInGame()">
            <span ng-show="getSound() == true" class="glyphicon glyphicon-volume-off"></span>
            <span ng-show="getSound() == false" class="glyphicon glyphicon-volume-up"></span>
          </div>
        </div>
      </div>

      
      <div id="level" ng-show="showLevel">
        <div class="thumbnail">
          <span class="glyphicon glyphicon-info-sign"></span>
          Prepare your anus for level {{level}}!
        </div>
      </div>

      <div id="message" ng-show="message">
        <div class="picture"><img src="images/messages/{{messageSender}}"></img></div>
        <div class="messageBody">
          {{message}}
        </div>
      </div>
      <button id="megashoot" class="btn btn-success" ng-disabled="!megaShootActive" ng-click="megaShoot()"><span class="glyphicon glyphicon-random"></span></button>
      <button id="shoot" class="btn btn-success" ng-click="shoot()"><span class="glyphicon glyphicon-fire"></span></button>
      <canvas id="canvas"></canvas>
   </div>
</div>