<div class="container page scores">
  <div class="row intro-text">
  
    <span class="top_tab_trigger" ng-click="goHome()">
      <span class="glyphicon glyphicon-th-list"></span>Menu
    </span> 

    <div class="col-xs-12 text-center">
      <h1>Your best score : {{bestScore}}<span class="fa fa-beer"></span></h1>
      <h2>Total kills : {{totals.kills}}</h2>
      <h2>Total bonuses : {{totals.bonuses}}</h2>
      <div class="sharer">
          <a ng-click="share($event)" title="send to Facebook"  href="" target="_blank">
            <span>
              <img class="social-icon" src="images/social/nyan_fb_icon.png" alt="Facebook"> Share it! 
            </span>
          </a>

      </div>
      <ul class="list-group" >
        <li data-scroll-reveal="{{item.revealOptions}}"  on-finish-render ng-show="item.score > 0" ng-repeat="item in scores.slice().reverse()  track by $index "  class="list-group-item">
          {{item.score}} <span class="{{item.icon}}"></span>
        </li>
      </ul>  
    </div>
  </div>
</div>